<%- include('./header.ejs') %>
<div class="main-container">
  <div class="home-container">
    <div class="home-image-container">
      <img src="/public/imgs/Sculpting-rafiki.png" alt="Sculpting" />
    </div>
    <div class="home-content-container">
      <h1 style="text-align: left">Create - Connect - Grow with Kalakaar</h1>
      <p style="color: #fab79d; text-align: left;">
        Access top talent for your projects, optimize costs, and ensure
        top-notch deliverables.
      </p>
    </div>
  </div>

  <div class="browse-work-container" style="display: block !important; text-align: center;">
    <div>
      <h1 style="color: white">Browse Work</h1>
      <h4 style="color: #ff703c; text-align: center">
        Looking for Work?<span style="color: #ffffff"> Browse jobs</span>
      </h4>
    </div>
    <!-- <% for (let i = 0; i < 2; i++) { %> -->
    <div class="browse-work-row" style="margin-top: 20px;">
      <% for (let j = 0; j < allWorks.length; j++) { %>
      <div class="browse-work-card">
        <button
          class="browse-work-btn-card btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#myModal<%= j %>"
        >
          <h2 class="browse-work-title"><%= allWorks[j].title %></h2>
          <div class="browse-work-details">
            <div class="browse-work-prow">
              <p>Duration: <%= allWorks[j].duration %></p>
              <p>Budget: <%= allWorks[j].budget %></p>
            </div>
            <div class="browse-work-prow">
              <p>Location: <%= allWorks[j].location %></p>
              <p>Date: <%= allWorks[j].date %></p>
            </div>
          </div>
        </button>
      </div>
      <div class="modal" tabindex="-1" id="myModal<%= j %>" style="width: 100%">
        <div class="modal-dialog" style="max-width: 100%; width: 637px">
          <div
            class="modal-content"
            style="
              background-color: #ffecea;
              border-radius: 25px;
              padding: 10px 27px;
            "
          >
            <form action="/applyjob" method="post">
              <div class="modal-header">
                <h5 class="modal-title">
                  <%= allWorks[j].title %>
                  <!-- <span style="color: rgb(142 137 137)">(College Farewell Celebration)</span> -->
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  style="margin-bottom: 20px; margin-right: 2px"
                ></button>
              </div>
              <div class="modal-body">
                <p style="text-align: left"><%= allWorks[j].description %></p>
                <div class="modal-details">
                  <div class="modal-detail-container">
                    <p>
                      <span class="icon"> </span>
                      Duration: <%= allWorks[j].duration %>
                    </p>
                    <p>
                      <span class="icon"> </span>
                      Budget: <%= allWorks[j].budget %>
                    </p>
                  </div>
                  <div class="modal-detail-container1">
                    <p>
                      <span class="icon"> </span>
                      Location: <%= allWorks[j].location %>
                    </p>
                    <p>
                      <span class="icon"> </span>
                      Date: <%= allWorks[j].date %>
                    </p>
                  </div>
                </div>
                <input
                  type="hidden"
                  name="workId"
                  value="<%= allWorks[j]._id %>"
                />
                <p
                  style="
                    color: #ff4500;
                    text-align: left;
                    font-size: 1rem;
                    margin-top: 15px;
                  "
                >
                  <span class="icon"> </span>
                  Proposal:
                </p>
                <textarea
                  type="text"
                  class="text-field"
                  name="praposal"
                  placeholder="Express yourself here, Enlighten how you can help them."
                ></textarea>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  style="
                    color: #000;
                    font-size: 16px;
                    color: #fff;
                    border-color: #ffecea;
                    background-color: #ff4500;
                    border-radius: 45px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    height: 0px;
                    width: 30%;
                    margin: 20px auto;
                    padding: 5px 0px 28px 5px;
                    font-family: Arial, Helvetica, sans-serif;
                    --bs-btn-active-color: #000;
                    --bs-btn-active-bg: #ffecea;
                  "
                >
                  APPLY
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <% } %>
    </div>
    <!-- <% } %> -->
  </div>
  
  
  <div class="container" id="target-section2" style="display: block !important">
    <div style="text-align: center;">
      <h1 style="color: white">Browse talent by category</h1>
      <h4 style="color: #ff703c">
        Looking for talents?<span style="color: white"> Browse them</span>
      </h4>
    </div>
    <div class="browse-jobs-row" style="display: flex; justify-content: center; flex-wrap: wrap;">
      <% for (let i = 0; i < 2; i++) { %>
        <% for (let j = 0; j < 4; j++) { %>
          <div class="browse-jobs-card">
            <div class="browse-jobs-row g-0">
              <div class="browse-jobs-col-md-4">
                <img
                  src="/public/imgs/Boxing-bro.png"
                  class="browse-jobs-img"
                  alt="MMA Artist"
                />
              </div>
              <div class="browse-jobs-col-md-8">
                <div class="browse-jobs-card-body">
                  <h5 class="browse-jobs-card-title">MMA Artist</h5>
                  <p class="browse-jobs-card-text">30 Artist Available</p>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="who-are-you-container">
    <div class="who-are-you-section">
    <h1 class="h1">Who are you?</h1>
    <div class="dropdown">
  <button class="dropdown-btn">Pick an option</button>
  <div class="dropdown-content">
    <a href="#">Artist</a>
    <a href="#">Recruiter</a>
  </div>
</div>
    </div>
    <div class="who-are-you-section1">
      <ul class="who-are-you-job-list1">
        <li>Musician</li>
        <li>Singer</li>
        <li>Dancer</li>
        <li>Actor</li>
        <li>Comedian</li>
        <li>Magician</li>
        <li>Cinematographer</li>
        <li>Film Editor</li>
        <li>Sound Designer</li>
        <li>Stunt Performer</li>
        <li>Director (Film/Theater)</li>
    </ul>
    </div>
    <div class="who-are-you-section2">
    <ul class="who-are-you-job-list2">
      <li>Hair Stylist</li>
        <li>Photographer</li>
        <li>Videographer</li>
        <li>Choreographer</li>
        <li>DJ</li>
        <li>Voice Actor</li>
        <li>Stunt Coordinator</li>
        <li>Light Designer (Theater/Film)</li>
        <li>Motion Capture Artist</li>
        <li>Costume Designer (Theater)</li>
        <li>Makeup Artist</li>
      </ul>
    </div>
</div>
  <%- include('./footer.ejs') %>
</div>
